/* screen - dashboard3 */

.dashboard3 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 896px;
  overflow: hidden;
  width: 414px;
  z-index: 0;
}

.dashboard3 .status-bar {
  align-items: center;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  margin-left: 6.0px;
  min-width: 414px;
  padding: 15.2px 15.8px;
}

.dashboard3 .time {
  align-self: flex-end;
  letter-spacing: -0.30px;
  min-height: 18px;
  text-align: center;
  width: 60px;
}

.dashboard3 .cellular-connection {
  height: 12px;
  margin-left: 241px;
  margin-top: 2.23px;
  width: 19px;
}

.dashboard3 .wifi {
  height: 12px;
  margin-left: 6px;
  margin-top: 1.85px;
  width: 17px;
}

.dashboard3 .battery {
  height: 13px;
  margin-left: 6px;
  margin-top: 2.23px;
  width: 27px;
}

.dashboard3 .planning {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 29px;
  margin-top: 21px;
  min-height: 35px;
}

.dashboard3 .cest-un-beau-jour-p {
  letter-spacing: 0;
  margin-left: 15.0px;
  margin-top: 10px;
  min-height: 18px;
  min-width: 371px;
}

.dashboard3 .flex-row {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 19px;
  margin-left: 31.0px;
  margin-top: 51px;
  min-width: 179px;
}

.dashboard3 .rectangle-2606 {
  height: 10px;
  margin-top: 1.0px;
  width: 10px;
}

.dashboard3 .ajouter-un-rendez-vous {
  letter-spacing: 0;
  margin-left: 3px;
  min-height: 19px;
  min-width: 166px;
}

.dashboard3 .frame-3315 {
  align-items: center;
  background-color: var(--desert-storm);
  border-radius: 44px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin-left: 4.0px;
  margin-top: 56px;
  min-width: 356px;
  padding: 0 22.0px;
}

.dashboard3 .vector-2-stroke {
  height: 8px;
  margin-top: 0;
  width: 5px;
}

.dashboard3 .dcembre {
  letter-spacing: 0;
  margin-left: 119px;
  min-height: 16px;
  text-align: center;
  width: 64px;
}

.dashboard3 .vector-2-stroke-1 {
  height: 8px;
  margin-bottom: 0;
  margin-left: 119px;
  width: 5px;
}

.dashboard3 .row {
  align-items: flex-start;
  display: flex;
  height: 18px;
  margin-left: 4.0px;
  margin-top: 10px;
  min-width: 356px;
  opacity: 0.5;
  padding: 0 11px;
}

.dashboard3 .price {
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  text-align: center;
  width: 21px;
}

.dashboard3 .row-item {
  height: 20px;
  letter-spacing: 0;
  margin-left: 31px;
  margin-top: -1px;
  text-align: center;
  width: 21px;
}

.dashboard3 .group-16 {
  align-items: flex-start;
  display: flex;
  height: 225px;
  margin-left: 15.65px;
  margin-top: 8px;
  min-width: 368px;
}

.dashboard3 .overlap-group3 {
  height: 227px;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  width: 369px;
}

.dashboard3 .date-default {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 102px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard3 .number {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 152px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard3 .x1 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 203px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard3 .x1-1 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 254px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard3 .x1-2 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 305px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard3 .x1-3 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 0;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard3 .number-1 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-6 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 305px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard3 .x1-4 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-7 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 305px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard3 .x1-5 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-8 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 305px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard3 .x1-6 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-9 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 51px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard3 .x1-7 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-10 {
  align-items: flex-start;
  background-color: var(--brilliant-rose);
  display: flex;
  height: 47px;
  left: 0;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard3 .x1-8 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-11 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 0;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard3 .x1-9 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-12 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 0;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard3 .x1-10 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-13 {
  align-items: flex-start;
  background-color: var(--brilliant-rose);
  display: flex;
  height: 47px;
  left: 0;
  min-width: 53px;
  padding: 0.8px 0.6px;
  position: absolute;
  top: 180px;
}

.dashboard3 .overlap-group {
  height: 44px;
  position: relative;
  width: 50px;
}

.dashboard3 .x1-11 {
  height: 22px;
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 25px;
}

.dashboard3 .vector-25 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.dashboard3 .date-default-14 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 102px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard3 .x1-12 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-15 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 51px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard3 .x1-13 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-16 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 51px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard3 .x1-14 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-17 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 51px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard3 .x1-15 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-18 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 51px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard3 .x1-16 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-19 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 152px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard3 .x1-17 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-20 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 102px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard3 .x1-18 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-21 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 102px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard3 .x1-19 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-22 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 102px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard3 .x1-20 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-23 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 203px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard3 .x1-21 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-24 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 152px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard3 .x1-22 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-25 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 152px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard3 .x1-23 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-26 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 152px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard3 .x1-24 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-27 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 254px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard3 .x1-25 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-28 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 203px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard3 .x1-26 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-29 {
  align-items: flex-start;
  background-color: var(--brilliant-rose);
  display: flex;
  height: 47px;
  left: 203px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard3 .x1-27 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-30 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 203px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard3 .x1-28 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-31 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 305px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard3 .x1-29 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-32 {
  align-items: flex-start;
  background-color: var(--brilliant-rose);
  display: flex;
  height: 47px;
  left: 254px;
  min-width: 53px;
  padding: 0.8px 0.6px;
  position: absolute;
  top: 90px;
}

.dashboard3 .x1-30 {
  height: 22px;
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 25px;
}

.dashboard3 .date-default-33 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 254px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard3 .x1-31 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .date-default-34 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 254px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard3 .x1-32 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard3 .overlap-group2 {
  align-items: flex-start;
  background-image: url(../img/rectangle-2620-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 33px;
  left: 119px;
  min-width: 122px;
  padding: 4.3px 7.2px;
  position: absolute;
  top: 119px;
}

.dashboard3 .ajouter-un-rdv {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 12.9px;
  font-weight: 400;
  height: 15px;
  letter-spacing: 0;
  min-width: 87px;
  text-align: center;
}

.dashboard3 .vector-14 {
  height: 9px;
  margin-left: 7px;
  margin-top: 2.87px;
  width: 11px;
}

.dashboard3 .tooltip {
  align-items: flex-start;
  background-image: url(../img/rectangle-2620-2@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  left: 218px;
  min-width: 151px;
  padding: 4.6px 9.6px;
  position: absolute;
  top: 22px;
}

.dashboard3 .supprimer-le-rdv {
  color: var(--brilliant-rose);
  font-family: var(--font-family-roboto);
  font-size: 13.7px;
  font-weight: 400;
  height: 16px;
  letter-spacing: 0;
  min-width: 110px;
  text-align: center;
}

.dashboard3 .vector-14-1 {
  height: 10px;
  margin-left: 9px;
  margin-top: 3.04px;
  width: 12px;
}

.dashboard3 .overlap-group4 {
  height: 60px;
  margin-top: 296px;
  position: relative;
  width: 414px;
}

.dashboard3 .frame-3314 {
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  padding: 0 27px;
  bottom: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.dashboard3 .x5_-elements_-navigation-home-on {
  height: 60px;
  width: 60px;
}

.dashboard3 .x5_-elements_-navigation-message-off {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: 25px;
  min-width: 60px;
  padding: 20px;
}

.dashboard3 .shape {
  height: 19px;
  width: 19px;
}

.dashboard3 .x5_-elements_-navigation-bell-off {
  height: 60px;
  margin-left: 25px;
  width: 60px;
}

.dashboard3 .user-filled {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  margin-left: 25px;
  min-width: 60px;
  padding: 21.0px 21px;
}

.dashboard3 .group-18 {
  height: 18px;
  width: 18px;
}

.dashboard3 .home-indicators {
  background-image: url(../img/home-indicators-41@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 38px;
  width: 375px;
}

.dashboard3 .rectangle-2601 {
  background-color: var(--mercury);
  height: 1px;
  margin-left: 6px;
  margin-top: 36px;
  width: 362px;
}

.dashboard3 .calendrier {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 29px;
  margin-top: 7px;
  min-height: 19px;
}

.dashboard3 .frame-3316 {
  align-items: center;
  background-color: var(--desert-storm);
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-left: 3px;
  margin-top: 20px;
  min-width: 360px;
  padding: 0 22.0px;
}

.dashboard3 .flex-col-1 {
  display: flex;
  flex-direction: column;
  
  min-height: 30px;
  width: 100px;
}
.dashboard3 .philomena-tiret {
  letter-spacing: 0;
  min-height: 16px;
  min-width: 110px;
  margin-right: auto;
}

.dashboard3 .flex-row-1 {
  align-items: center;
  display: flex;
  margin-left: -150px;
}

.dashboard3 .overlap-grou {
  align-items: center;
  background-color: var(--lavender-blush);
  border-radius: 3px;
  display: flex;
  height: 20px;
  min-width: 83px;
  padding: 0 8px;
}

.dashboard3 .overlap-grou-1 {
  align-items: center;
  background-color: var(--lavender-blush);
  border-radius: 3px;
  display: flex;
  height: 20px;
  margin-left: 6px;
  min-width: 50px;
  padding: 0 6px;
}

.dashboard3 .vendredi-1 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 65px;
}