/* screen - dashboard2 */

.dashboard2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 896px;
  overflow: hidden;
  width: 414px;
  z-index: 0;
}

.dashboard2 .status-bar {
  align-items: center;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  margin-left: 6px;
  min-width: 414px;
  padding: 15.2px 15.8px;
}

.dashboard2 .time {
  align-self: flex-end;
  letter-spacing: -0.3px;
  min-height: 18px;
  text-align: center;
  width: 60px;
}

.dashboard2 .cellular-connection {
  height: 12px;
  margin-left: 241px;
  margin-top: 2.23px;
  width: 19px;
}

.dashboard2 .wifi {
  height: 12px;
  margin-left: 6px;
  margin-top: 1.85px;
  width: 17px;
}

.dashboard2 .battery {
  height: 13px;
  margin-left: 6px;
  margin-top: 2.23px;
  width: 27px;
}

.dashboard2 .planning {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 29px;
  margin-top: 21px;
  min-height: 35px;
}

.dashboard2 .cest-un-beau-jour-p {
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 10px;
  min-height: 18px;
  min-width: 371px;
}

.dashboard2 .rendez-vous-venir {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 29px;
  margin-top: 20px;
  min-height: 19px;
}

.frame-3318 {
  display: flex;
  height: 140px;
  margin-right: 97px;
  margin-left: 97px;
  margin-top: 24px;
  width: 400px;
  overflow-x: scroll;
}

.flex-col {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 4px 4px 4px #ef5da826;
  display: flex;
  height: 116px;
  padding: 20px 10px;
  min-width: 230px;

  margin-left: 15px;
}

.dashboard2 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 46px;
  min-width: 159px;
}

.dashboard2 .avatars {
  align-self: flex-end;
  height: 44px;
  width: 44px;
}

.dashboard2 .flex-col-1 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  min-height: 30px;
  width: 100px;
}

.dashboard2 .philomena-tiret {
  letter-spacing: 0;
  min-height: 16px;
}

.dashboard2 .photographie {
  letter-spacing: 0;
  margin-top: 2px;
  min-height: 12px;
}

.dashboard2 .flex-row-1 {
  align-items: center;
  display: flex;
  margin-top: 59px;
  min-width: 203px;
  margin-left: -165px;
}

.dashboard2 .overlap-group {
  align-items: center;
  background-color: var(--lavender-blush);
  border-radius: 3px;
  display: flex;
  height: 20px;
  min-width: 83px;
  padding: 0 8px;
}

.dashboard2 .vendredi-1 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 65px;
}

.dashboard2 .overlap-group-1 {
  align-items: center;
  background-color: var(--lavender-blush);
  border-radius: 3px;
  display: flex;
  height: 20px;
  margin-left: 6px;
  min-width: 50px;
  padding: 0 6px;
}

.dashboard2 .x15h30 {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 34px;
}

.dashboard2 .contacter {
  letter-spacing: 0;
  margin-left: 11px;
  min-height: 14px;
  min-width: 53px;
}

.dashboard2 .flex-col-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 4px #ef5da826;
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  min-height: 116px;
  padding: 20px 10px;
  width: 230px;
}

.dashboard2 .flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  min-width: 158px;
}

.dashboard2 .ellipse {
  height: 45px;
  object-fit: cover;
  width: 45px;
}

.dashboard2 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  min-height: 30px;
  width: 100px;
}

.dashboard2 .flex-row-3 {
  align-items: center;
  display: flex;
  margin-top: 10px;
  min-width: 203px;
}

.dashboard2 .overlap-group5 {
  border-radius: 38px;
  height: 35px;
  margin-left: 0.62px;
  margin-top: 20px;
  position: relative;
  width: 243px;
}

.dashboard2 .btn {
  align-items: center;
  background-color: var(--brilliant-rose);
  border-radius: 38px;
  display: flex;
  height: 35px;
  left: 0;
  min-width: 243px;
  padding: 0 54.8px;
  position: absolute;
  top: 0;
}

.dashboard2 .sinscrire {
  letter-spacing: 0;
  min-height: 15px;
  min-width: 133px;
}

.dashboard2 .group-53 {
  height: 10px;
  left: 36px;
  position: absolute;
  top: 13px;
  width: 10px;
}

.dashboard2 .rectangle-2601 {
  background-color: var(--mercury);
  height: 1px;
  margin-left: 6px;
  margin-top: 36px;
  width: 362px;
}

.dashboard2 .calendrier {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 29px;
  margin-top: 7px;
  min-height: 19px;
}

.dashboard2 .frame-3315 {
  align-items: center;
  background-color: var(--desert-storm);
  border-radius: 44px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin-left: 4px;
  margin-top: 29px;
  min-width: 356px;
  padding: 0 22px;
}

.dashboard2 .vector-2-stroke {
  height: 8px;
  margin-top: 0;
  width: 5px;
}

.dashboard2 .dcembre {
  letter-spacing: 0;
  margin-left: 119px;
  min-height: 16px;
  text-align: center;
  width: 64px;
}

.dashboard2 .vector-2-stroke-1 {
  height: 8px;
  margin-bottom: 0;
  margin-left: 119px;
  width: 5px;
}

.dashboard2 .row {
  align-items: flex-start;
  display: flex;
  height: 18px;
  margin-left: 4px;
  margin-top: 10px;
  min-width: 356px;
  opacity: 0.5;
  padding: 0 11px;
}

.dashboard2 .price {
  height: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  text-align: center;
  width: 21px;
}

.dashboard2 .row-item {
  height: 20px;
  letter-spacing: 0;
  margin-left: 31px;
  margin-top: -1px;
  text-align: center;
  width: 21px;
}

.dashboard2 .group-16 {
  align-items: flex-start;
  display: flex;
  height: 225px;
  justify-content: flex-end;
  margin-left: 3.6px;
  margin-top: 8px;
  min-width: 356px;
}

.dashboard2 .date-default-container {
  height: 227px;
  margin-top: -1px;
  position: relative;
  width: 358px;
}

.dashboard2 .date-default {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 102px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard2 .number {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 152px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard2 .x1 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 203px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard2 .x1-1 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 254px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard2 .x1-2 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 305px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard2 .x1-3 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 0;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard2 .number-1 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-6 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 305px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard2 .x1-4 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-7 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 305px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard2 .x1-5 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-8 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 305px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard2 .x1-6 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-9 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 51px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard2 .x1-7 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-10 {
  align-items: flex-start;
  background-color: var(--brilliant-rose);
  display: flex;
  height: 47px;
  left: 0;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard2 .x1-8 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-11 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 0;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard2 .x1-9 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-12 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 0;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard2 .x1-10 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-13 {
  align-items: flex-start;
  background-color: var(--brilliant-rose);
  display: flex;
  height: 47px;
  left: 0;
  min-width: 53px;
  padding: 0.8px 0.6px;
  position: absolute;
  top: 180px;
}

.dashboard2 .overlap-group-2 {
  height: 44px;
  position: relative;
  width: 50px;
}

.dashboard2 .x1-11 {
  height: 22px;
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 25px;
}

.dashboard2 .vector-25 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.dashboard2 .date-default-14 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 102px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard2 .x1-12 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-15 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 51px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard2 .x1-13 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-16 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 51px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard2 .x1-14 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-17 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 51px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard2 .x1-15 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-18 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 51px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 180px;
}

.dashboard2 .x1-16 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-19 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 152px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard2 .x1-17 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-20 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 102px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard2 .x1-18 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-21 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 102px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard2 .x1-19 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-22 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 102px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard2 .x1-20 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-23 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 203px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard2 .x1-21 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-24 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 152px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard2 .x1-22 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-25 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 152px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard2 .x1-23 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-26 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 152px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard2 .x1-24 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-27 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 254px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard2 .x1-25 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-28 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 203px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 90px;
}

.dashboard2 .x1-26 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-29 {
  align-items: flex-start;
  background-color: var(--brilliant-rose);
  display: flex;
  height: 47px;
  left: 203px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard2 .x1-27 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-30 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 203px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard2 .x1-28 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-31 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 305px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 0;
}

.dashboard2 .x1-29 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-32 {
  align-items: flex-start;
  background-color: var(--brilliant-rose);
  display: flex;
  height: 47px;
  left: 254px;
  min-width: 53px;
  padding: 0.8px 0.6px;
  position: absolute;
  top: 90px;
}

.dashboard2 .x1-30 {
  height: 22px;
  left: 12px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 25px;
}

.dashboard2 .date-default-33 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 254px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 45px;
}

.dashboard2 .x1-31 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .date-default-34 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 47px;
  left: 254px;
  min-width: 53px;
  padding: 11.2px 12.7px;
  position: absolute;
  top: 135px;
}

.dashboard2 .x1-32 {
  height: 22px;
  letter-spacing: 0;
  text-align: center;
  width: 25px;
}

.dashboard2 .overlap-group4 {
  height: 60px;
  
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
}

.dashboard2 .frame-3314 {
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  bottom: 0;
  position: fixed;
  z-index: 1;
  padding-left: 40px;
  width: 100%;
}

.dashboard2 .x5_-elements_-navigation-home-on {
  height: 60px;
  width: 60px;
}

.dashboard2 .x5_-elements_-navigation-message-off {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: 25px;
  min-width: 60px;
  padding: 20px;
}

.dashboard2 .shape {
  height: 19px;
  width: 19px;
}

.dashboard2 .x5_-elements_-navigation-bell-off {
  height: 60px;
  margin-left: 25px;
  width: 60px;
}

.dashboard2 .user-filled {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  margin-left: 25px;
  min-width: 60px;
  padding: 21px 21px;
}

.dashboard2 .group-18 {
  height: 18px;
  width: 18px;
}

.dashboard2 .home-indicators {
  background-image: url(../img/home-indicators-41@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 38px;
  width: 375px;
}
