/* screen - galerie */

.galerie {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
  width: 418px;
}

.galerie .overlap-group2 {
  height: 836px;
  position: relative;
  width: 418px;
}

.galerie .frame-1 {
  align-items: flex-end;
  display: flex;
  height: 836px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 418px;
}

.galerie .overlap-group {
  height: 955px;
  margin-bottom: -118.51px;
  position: relative;
  width: 415px;
}

.galerie .rectangle-10 {
  height: 137px;
  left: 278px;
  position: absolute;
  top: 122px;
  width: 137px;
}

.galerie .rectangle-10-1 {
  height: 137px;
  left: 278px;
  position: absolute;
  top: 261px;
  width: 137px;
}

.galerie .rectangle-10-2 {
  height: 137px;
  left: 278px;
  position: absolute;
  top: 400px;
  width: 137px;
}

.galerie .rectangle-10-3 {
  height: 137px;
  left: 278px;
  position: absolute;
  top: 539px;
  width: 137px;
}

.galerie .rectangle-10-4 {
  height: 137px;
  left: 278px;
  position: absolute;
  top: 679px;
  width: 137px;
}

.galerie .rectangle-8 {
  height: 137px;
  left: 0;
  position: absolute;
  top: 818px;
  width: 137px;
}

.galerie .rectangle-9 {
  height: 137px;
  left: 139px;
  position: absolute;
  top: 818px;
  width: 137px;
}

.galerie .rectangle-10-5 {
  height: 137px;
  left: 278px;
  position: absolute;
  top: 818px;
  width: 137px;
}

.galerie .frame-3319 {
  height: 836px;
  left: 0;
  position: absolute;
  top: 0;
  width: 415px;
}

.galerie .rectangle-7 {
  -webkit-backdrop-filter: blur(60.02px) brightness(100%);
  backdrop-filter: blur(60.02px) brightness(100%);
  background-color: #f5f5f5cc;
  border-radius: 11.04px;
  height: 122px;
  left: 0;
  position: absolute;
  top: 0;
  width: 418px;
}

.galerie .left-title-right-light {
  align-items: center;
  display: flex;
  height: 46px;
  left: 0;
  min-width: 418px;
  padding: 5.5px 16.6px;
  position: absolute;
  top: 8px;
}

.galerie .cancel {
  color: #007aff;
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: 16.6px;
  font-weight: 400;
  height: 24px;
  letter-spacing: -0.45px;
  line-height: 24.3px;
  margin-top: 0.02px;
  white-space: nowrap;
  width: 52px;
}

.galerie .segmented-control-li {
  align-items: flex-start;
  align-self: flex-end;
  background-color: #7676801f;
  border-radius: 7.73px;
  display: flex;
  height: 35px;
  margin-left: 64px;
  overflow: hidden;
  padding: 1.7px 1.7px;
  width: 150px;
}

.galerie .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0.6px solid #0000000a;
  border-radius: 5.52px;
  box-shadow: 0px 3.31px 1.1px #0000000a , 0px 3.31px 8.83px #0000001f;
  display: flex;
  height: 32px;
  min-width: 75px;
  padding: 6.6px 8.8px;
}

.galerie .photos {
  color: var(--black);
  font-family: var(--font-family-sf_pro_text-semibold);
  font-size: 14.4px;
  font-weight: 600;
  height: 18px;
  letter-spacing: -0.26px;
  line-height: 22.1px;
  text-align: center;
  white-space: nowrap;
  width: 56px;
}

.galerie .albums {
  align-self: center;
  color: var(--black);
  font-family: var(--font-family-sf_pro_text-medium);
  font-size: 14.4px;
  font-weight: 500;
  height: 18px;
  letter-spacing: -0.26px;
  line-height: 22.1px;
  margin-bottom: 0;
  margin-left: 8px;
  text-align: center;
  white-space: nowrap;
  width: 54px;
}

.galerie .overlap-group1 {
  align-items: center;
  background-color: #7676801f;
  border-radius: 11.04px;
  display: flex;
  height: 38px;
  left: 18px;
  min-width: 382px;
  padding: 6.6px 8.8px;
  position: absolute;
  top: 63px;
}

.galerie .icon-light-mangnifyingglass {
  height: 16px;
  margin-top: 0.15px;
  width: 15px;
}

.galerie .placeholder-label {
  align-self: flex-end;
  color: #3c3c4399;
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: 15.5px;
  font-weight: 400;
  letter-spacing: -0.45px;
  line-height: 24.3px;
  margin-left: 9px;
  min-height: 24px;
  white-space: nowrap;
  width: 170px;
}

.galerie .icon-light-microphone {
  height: 15px;
  margin-left: 156px;
  margin-top: 0;
  width: 10px;
}
