/* screen - home */

.home {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  min-width: 300px;
  overflow-x: hidden;
  z-index: 0;
}

.home .overlap-group1 {
  height: 896px;
  position: relative;
  width: 417px;
}

.home .background {
  background-color: var(--white);
  height: 896px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.home .overlap-group {
  align-items: flex-end;
  background-color: var(--desert-storm);
  border-radius: 5px;
  display: flex;
  height: 40px;
  left: 29px;
  min-width: 355px;
  padding: 9.1px 16px;
  position: absolute;
  top: 155px;
}

.home .rechercher {
  letter-spacing: 0;
  min-height: 21px;
  width: 119px;
}

.home .vos-accompagnateurs-favoris {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 592px;
}

.home .prochaines-runions {
  border-radius: 5px;
  left: 29px;
  letter-spacing: 0;
  position: relative;
  top: 150px;

  background-color: var(--desert-storm);
  padding: 10px;
  text-align: left;
  width: 85%;

  outline: none;
  transition: 0.4s;
  margin-top: 20px;
 
}




.home .cest-un-beau-jour-p {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 115px;
}

.home .bonjour-olivier {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 40px;
}

.frame-3314 {
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  bottom: 0;
  position: fixed;
  z-index: 1;
  padding-left: 15px;
  width: 100%;
}

.home .x5_-elements_-navigation-home-on {
  height: 60px;
  width: 60px;
}

.home .iconly {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  margin-left: 15px;
  min-width: 60px;
  padding: 20px 20px;
}

.home .subtract {
  height: 19px;
  width: 19px;
}

.home .x5_-elements_-navigation-message-off {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: 15px;
  min-width: 60px;
  padding: 20px;
}

.home .shape {
  height: 19px;
  width: 19px;
}

.home .x5_-elements_-navigation-bell-off {
  height: 60px;
  margin-left: 15px;
  width: 60px;
}

.home .user-filled {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  margin-left: 15px;
  min-width: 60px;
  padding: 21px 21px;
}

.home .group-18 {
  height: 18px;
  width: 18px;
}

.home .status-bar {
  align-items: center;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  left: 3px;
  min-width: 414px;
  padding: 15.2px 15.8px;
  position: absolute;
  top: 0;
}

.home .time {
  align-self: flex-end;
  letter-spacing: -0.3px;
  min-height: 18px;
  text-align: center;
  width: 60px;
}

.home .cellular-connection {
  height: 12px;
  margin-left: 241px;
  margin-top: 2.23px;
  width: 19px;
}

.home .wifi {
  height: 12px;
  margin-left: 6px;
  margin-top: 1.85px;
  width: 17px;
}

.home .battery {
  height: 13px;
  margin-left: 6px;
  margin-top: 2.23px;
  width: 27px;
}

.home .card-1 {
  margin-top: 10px;
  height: 50px;
  left: 30px;
  position: absolute;
  top: 268px;
  width: 355px;
}

.home .card-2 {
  height: 85px;
  left: 30px;
  position: absolute;
  top: 370px;
  width: 355px;
}

.home .card-3 {
  height: 85px;
  left: 30px;
  position: absolute;
  top: 472px;
  width: 355px;
}

.home .frame-3321 {
  align-items: center;
  display: flex;
  height: 140px;
  top: 150px;
  background-color: var(--desert-storm);
  left: 29px;
  position: relative;
  padding: 10px;
  width: 85%;
  display: none;
  overflow:scroll;
}
.home .frame-3322 {
  align-items: center;
  top: 150px;
  background-color: var(--desert-storm);
  left: 29px;
  position: relative;
  padding: 10px;
  width: 85%;
  display: block; 
  overflow:scroll;
}


.home .btn {

  background-color: var(--governor-bay);
  border-radius: 38px;
  text-align: center;
  letter-spacing: 0;
  margin-top: 10px;
  margin-left: 50px;
  padding: 0px 0;
  width: 200px;
  font-family: var(--font-family-roboto);
  color: var(--white);
  
}


.home .card-4 {
  
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #372ad126;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding: 0px 0;
  width: 237px;
}

.home .frame-3316 {
  padding-top: 20px;
  
}

.home .avatars {
  height: 46px;
    width: 46px;
    margin-left: -55px;
}

.prochaines-runions .heart {
  align-items: flex-end;
  margin-left: 300px;
  margin-top: -20px;

}

.home .frame-3317 {
  
  height: 60px;
 
}
.home .frame-3318 {

  align-items: flex-start;
  display: flex;
  height: 30px;
  top: 500px;
}

.home .group-29-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 40px;
  text-align: center;
  
}

.home .helath-chat-with-lidia {
  margin-top: -45px;
  margin-left: 10px;
}

.home .type-dactivit {
  margin-top: 5px;
    margin-left: 10px;
}

.home .x5_-elements_-navigation-star-on-default-1 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: 24px;
  min-width: 57px;
}

.home .text {
  letter-spacing: 0;
  margin-top: 2px;
  min-height: 14px;
  min-width: 24px;
}

.home .path {
  height: 18px;
  margin-left: 8px;
  width: 19px;
}

.home .card {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #372ad126;
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  height: 80px;
  margin-top: 20px;
  width: 300px;
}

.home .group-29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 40px;
  width: 111px;
}

.home .x5_-elements_-navigation-star-on-default {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: 31px;
  min-width: 57px;
}

.home .card-5 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #372ad126;
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  min-height: 150px;
  padding: 20px 19px;
  width: 237px;
}

.home .frame-3316-1 {
  align-items: center;
  display: flex;
  min-width: 118px;
}

.home .heart-1 {
  height: 17px;
    margin-left: 247px;
    width: 18px;
    margin-top: -30px;
}

.home .overlap-group-1 {
  height: 40px;
  margin-top: 24px;
  position: relative;
  width: 118px;
}

.home .group-29-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 40px;
  position: absolute;
  top: 0;
  width: 118px;
}

.home .x5_-elements_-navigation-star-on-default-2 {
  align-items: center;
  display: flex;
  height: 18px;
  justify-content: flex-end;
  left: 61px;
  min-width: 57px;
  position: absolute;
  top: 0;
}

.home .home-indicators {
  background-image: url(../img/home-indicators-41@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 874px;
  width: 375px;
}

.home .toggle-section {
  background-color: var(--white-lilac);
  border-radius: 10px;
  height: 49px;
  position: absolute;
  top: 300px;
  width: 376px;
  left: 40px;
}
.vos-prochains-rendez-vous {
  left: 15px;
  letter-spacing: 0;
  position: absolute;
  top: 200px;
  width: 241px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900,300,500|Inter:400|Montserrat:400,700,300,500,600|Archivo:400|Mulish:400,300,600|Lato:400");


.accordion {
  background-color: var(--desert-storm);
  padding: 18px;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: var(--desert-storm);
  overflow: hidden;
}