/* screen - iphone-11-pro-x-7 */

.iphone-11-pro-x-7 {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 896px;
  overflow: hidden;
  padding: 44.1px 0;
  width: 413.79px;
}

.iphone-11-pro-x-7 .thunder-1 {
  align-self: flex-start;
  height: 22px;
  margin-left: 17.66px;
  width: 22px;
}

.iphone-11-pro-x-7 .overlap-group1 {
  height: 602px;
  margin-left: 0.21px;
  margin-top: 25px;
  position: relative;
  width: 414px;
}

.iphone-11-pro-x-7 .overlap-group {
  border-radius: 20.97px;
  height: 42px;
  left: 186px;
  position: absolute;
  top: 537px;
  width: 42px;
}

.iphone-11-pro-x-7 .text-18 {
  color: var(--white);
  font-family: var(--font-family-sf_pro_text-semibold);
  font-size: 14.3px;
  font-weight: 600;
  height: 19px;
  left: 13px;
  letter-spacing: -0.33px;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 17px;
}

.iphone-11-pro-x-7 .ellipse-3 {
  border: 1.7px solid var(--white);
  border-radius: 20.97px;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.iphone-11-pro-x-7 .unsplashey-fbj-k-wl-r2g {
  height: 602px;
  left: 0;
  position: absolute;
  top: 0;
  width: 414px;
}

.iphone-11-pro-x-7 .photo {
  color: #ffd60a;
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: 14.3px;
  font-weight: 400;
  letter-spacing: -0.33px;
  margin-left: 0;
  margin-top: 10px;
  min-height: 18px;
  text-align: center;
  width: 50px;
}

.iphone-11-pro-x-7 .flex-row {
  align-items: center;
  display: flex;
  margin-left: 0;
  margin-top: 17px;
  min-width: 359px;
}

.iphone-11-pro-x-7 .cancel {
  color: var(--white);
  font-family: var(--font-family-sf_pro_text-regular);
  font-size: 19.9px;
  font-weight: 400;
  letter-spacing: -0.33px;
  margin-top: 1.1px;
  min-height: 23px;
  width: 63px;
}

.iphone-11-pro-x-7 .group-20 {
  height: 77px;
  margin-left: 78px;
  width: 77px;
}

.iphone-11-pro-x-7 .switch-camera-1 {
  height: 39px;
  margin-left: 102px;
  margin-top: 1.1px;
  width: 39px;
}
