/* screen - messagerie */

.messagerie {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
  width: 414px;
}

.messagerie .overlap-group1 {
  height: 896px;
  position: relative;
  width: 417px;
}

.messagerie .background {
  background-color: var(--white);
  height: 896px;
  left: 0;
  position: absolute;
  top: 0;
  width: 414px;
}

.messagerie .rectangle-2 {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 4px #372ad126;
  height: 538px;
  left: 25px;
  position: absolute;
  top: 270px;
  width: 362px;
}

.messagerie .rentrez-facilement-e {
  left: 28px;
  letter-spacing: 0;
  position: absolute;
  top: 138px;
  width: 366px;
}

.messagerie .chattez-avec-vos-accompagnateurs {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 53px;
}

.messagerie .bichat-dots-fill {
  height: 26px;
  left: 356px;
  position: absolute;
  top: 60px;
  width: 26px;
}

.messagerie .akar-iconsplus {
  height: 24px;
  left: 358px;
  position: absolute;
  top: 202px;
  width: 24px;
}

.messagerie .input {
  align-items: center;
  background-color: var(--white-lilac);
  border-radius: 4px;
  display: flex;
  height: 36px;
  left: 44px;
  min-width: 303px;
  padding: 0 8px;
  position: absolute;
  top: 197px;
}

.messagerie .placeholder {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 147px;
  white-space: nowrap;
}

.messagerie .contact-stack {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 44px;
  min-height: 68px;
  position: absolute;
  top: 285px;
  width: 327px;
}

.messagerie .container {
  align-items: flex-start;
  display: flex;
  min-width: 327px;
}

.messagerie .avatar {
  height: 56px;
  width: 56px;
}

.messagerie .data-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 56px;
  width: 259px;
}

.messagerie .almayra-zamzamy {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.messagerie .online {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 2px;
  white-space: nowrap;
}

.messagerie .divider {
  height: 1px;
  margin-top: 12px;
  width: 327px;
}

.messagerie .contact-stack-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 44px;
  min-height: 68px;
  position: absolute;
  top: 369px;
  width: 327px;
}

.messagerie .container-1 {
  align-items: flex-start;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 327px;
}

.messagerie .status {
  background-color: var(--mountain-meadow);
  border-radius: 8px;
  height: 16px;
  width: 16px;
}

.messagerie .contact-stack-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 44px;
  min-height: 68px;
  position: absolute;
  top: 453px;
  width: 327px;
}

.messagerie .avatar-1 {
  background-image: url(../img/story-3@2x.png);
  background-size: 100% 100%;
  height: 56px;
  width: 56px;
}

.messagerie .contact-stack-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 44px;
  min-height: 68px;
  position: absolute;
  top: 537px;
  width: 327px;
}

.messagerie .contact-stack-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 44px;
  min-height: 68px;
  position: absolute;
  top: 621px;
  width: 327px;
}

.messagerie .overlap-group {
  height: 52px;
  position: relative;
  width: 52px;
}

.messagerie .frame-3293 {
  align-items: flex-end;
  background-color: var(--blue);
  border-radius: 37px;
  display: flex;
  height: 48px;
  left: 0;
  overflow: hidden;
  padding: 15px 0;
  position: absolute;
  top: 4px;
  width: 48px;
}

.messagerie .bp {
  height: 17px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 48px;
}

.messagerie .status-1 {
  background-color: var(--mountain-meadow);
  border-radius: 8px;
  height: 16px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 16px;
}

.messagerie .contact-stack-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 44px;
  min-height: 68px;
  position: absolute;
  top: 705px;
  width: 327px;
}

.messagerie .avatar-2 {
  align-items: center;
  background-image: url(../img/story-4@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 56px;
  min-width: 56px;
  padding: 0 4px;
}

.messagerie .frame-3293-1 {
  align-items: flex-end;
  background-color: var(--blue);
  border-radius: 58px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 15px 0;
  width: 48px;
}

.messagerie .bp-1 {
  height: 17px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 48px;
}

.messagerie .frame-3314 {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 414px;
  padding: 0 25px;
  position: absolute;
  top: 836px;
}

.messagerie .x5_-elements_-navigation-home-on {
  height: 60px;
  width: 60px;
}

.messagerie .iconly {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  margin-left: 15px;
  min-width: 60px;
  padding: 20.0px 20.0px;
}

.messagerie .subtract {
  height: 19px;
  width: 19px;
}

.messagerie .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--black-3);
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-bottom: -3px;
  margin-left: 15px;
  min-width: 60px;
  padding: 20px;
}

.messagerie .shape {
  height: 19px;
  width: 19px;
}

.messagerie .x5_-elements_-navigation-bell-off {
  height: 60px;
  margin-left: 19px;
  width: 60px;
}

.messagerie .user-filled {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  margin-left: 15px;
  min-width: 60px;
  padding: 21.0px 21px;
}

.messagerie .group-18 {
  height: 18px;
  width: 18px;
}

.messagerie .status-bar {
  align-items: center;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  left: 3px;
  min-width: 414px;
  padding: 15.2px 15.8px;
  position: absolute;
  top: 0;
}

.messagerie .time {
  align-self: flex-end;
  letter-spacing: -0.30px;
  min-height: 18px;
  text-align: center;
  width: 60px;
}

.messagerie .cellular-connection {
  height: 12px;
  margin-left: 241px;
  margin-top: 2.23px;
  width: 19px;
}

.messagerie .wifi {
  height: 12px;
  margin-left: 6px;
  margin-top: 1.85px;
  width: 17px;
}

.messagerie .battery {
  height: 13px;
  margin-left: 6px;
  margin-top: 2.23px;
  width: 27px;
}

.messagerie .home-indicators {
  background-image: url(../img/home-indicators-41@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 874px;
  width: 375px;
}
