/* screen - messagerie-2 */

.messagerie-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 896px;
  overflow: hidden;
  width: 414px;
}

.messagerie-2 .overlap-group1 {
  height: 864px;
  margin-left: -3px;
  margin-top: -29px;
  position: relative;
  width: 420px;
}

.messagerie-2 .rectangle-12 {
  background-color: var(--white);
  height: 864px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 414px;
}

.messagerie-2 .rectangle-5 {
  background-color: var(--white);
  border-radius: 10px;
  height: 712px;
  left: 35px;
  position: absolute;
  top: 137px;
  width: 355px;
}

.messagerie-2 .personal-chat-bubble {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 39px;
  min-height: 218px;
  padding: 10px 0;
  position: absolute;
  top: 169px;
  width: 285px;
}

.messagerie-2 .un-article-qui-pourr {
  align-self: center;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 154px;
  min-width: 265px;
  white-space: nowrap;
}

.messagerie-2 .phone {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 10px;
  margin-top: 4px;
  min-height: 16px;
  white-space: nowrap;
}

.messagerie-2 .personal-chat-bubble-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 39px;
  min-height: 128px;
  padding: 10px 0;
  position: absolute;
  top: 399px;
  width: 348px;
}

.messagerie-2 .replied {
  align-items: flex-start;
  background-color: var(--cararra);
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  width: 328px;
}

.messagerie-2 .rectangle-2593 {
  background-color: var(--unmellow-yellow);
  height: 60px;
  width: 4px;
}

.messagerie-2 .frame-3266 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 60px;
  padding: 8px;
  width: 324px;
}

.messagerie-2 .you {
  color: var(--unmellow-yellow);
  font-family: var(--font-family-mulish);
  font-size: var(--font-size-xxs);
  font-weight: 600;
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.messagerie-2 .but-dont-worry-caus {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 4px;
  white-space: nowrap;
}

.messagerie-2 .but-dont-worry-caus-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 7.0px;
  margin-top: 4px;
  min-width: 321px;
  white-space: nowrap;
}

.messagerie-2 .phone-1 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 10px;
  margin-top: 4px;
  min-height: 16px;
  white-space: nowrap;
}

.messagerie-2 .personal-chat-bubble-2 {
  align-items: flex-end;
  background-color: var(--unmellow-yellow);
  display: flex;
  flex-direction: column;
  left: 121px;
  min-height: 64px;
  padding: 10px 0;
  position: absolute;
  top: 539px;
  width: 254px;
}

.messagerie-2 .but-dont-worry-caus-2 {
  align-self: center;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 234px;
  white-space: nowrap;
}

.messagerie-2 .x1646-read {
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 10px;
  margin-top: 4px;
  min-height: 16px;
  min-width: 39px;
  white-space: nowrap;
}

.messagerie-2 .personal-chat-bubble-3 {
  align-items: flex-end;
  background-color: var(--unmellow-yellow);
  display: flex;
  flex-direction: column;
  left: 223px;
  min-height: 77px;
  padding: 10px 0;
  position: absolute;
  top: 634px;
  width: 159px;
}

.messagerie-2 .document {
  align-items: center;
  align-self: center;
  background-color: #375fff;
  border-radius: 4px;
  display: flex;
  height: 37px;
  overflow: hidden;
  padding: 0 8px;
  width: 139px;
}

.messagerie-2 .frame-3313 {
  align-items: flex-start;
  display: flex;
  min-width: 41px;
}

.messagerie-2 .icon-1 {
  height: 16px;
  width: 16px;
}

.messagerie-2 .text-11 {
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 4px;
  white-space: nowrap;
}

.messagerie-2 .sound {
  height: 21px;
  margin-left: 16px;
  width: 66px;
}

.messagerie-2 .x1646-read-1 {
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 10px;
  margin-top: 4px;
  min-height: 16px;
  min-width: 56px;
  white-space: nowrap;
}

.messagerie-2 .personal-chat-bubble-4 {
  align-items: flex-start;
  background-color: var(--cararra);
  display: flex;
  flex-direction: column;
  left: 39px;
  min-height: 64px;
  padding: 10px 0;
  position: absolute;
  top: 728px;
  width: 341px;
}

.messagerie-2 .but-dont-worry-caus-3 {
  align-self: center;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 321px;
  white-space: nowrap;
}

.messagerie-2 .x1646 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 10px;
  margin-top: 4px;
  min-height: 16px;
  white-space: nowrap;
}

.messagerie-2 .divider {
  align-items: center;
  display: flex;
  height: 20px;
  left: 39px;
  position: absolute;
  top: 377px;
  width: 343px;
}

.messagerie-2 .divider-1 {
  height: 1px;
  margin-top: 1.0px;
  width: 127px;
}

.messagerie-2 .text {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 16px;
  min-height: 20px;
  min-width: 57px;
  white-space: nowrap;
}

.messagerie-2 .divider-2 {
  height: 1px;
  margin-left: 16px;
  margin-top: 1.0px;
  width: 127px;
}

.messagerie-2 .vector-1 {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 133px;
  width: 414px;
}

.messagerie-2 .rectangle-2595 {
  background-color: var(--white);
  height: 106px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 414px;
}

.messagerie-2 .group-15 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 19px;
  min-width: 386px;
  position: absolute;
  top: 70px;
}

.messagerie-2 .icon {
  height: 24px;
  width: 24px;
}

.messagerie-2 .icon-group {
  align-items: flex-start;
  display: flex;
  margin-left: 306px;
  min-width: 56px;
}

.messagerie-2 .icon-2 {
  height: 24px;
  margin-left: 8px;
  width: 24px;
}

.messagerie-2 .ellipse {
  height: 45px;
  left: 187px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 45px;
}

.messagerie-2 .olivier-dutronc {
  left: 147px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 86px;
  white-space: nowrap;
  width: 126px;
}

.messagerie-2 .tudiant {
  left: 147px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 101px;
  white-space: nowrap;
  width: 126px;
}

.messagerie-2 .unsplashpo-mp-xtc-vy-ho {
  height: 162px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 169px;
  width: 263px;
}

.messagerie-2 .ellipse-3 {
  background-color: #3fd545;
  border-radius: 4.5px;
  height: 9px;
  left: 281px;
  position: absolute;
  top: 99px;
  width: 9px;
}

.messagerie-2 .input {
  align-items: center;
  background-color: var(--white-lilac);
  border-radius: 4px;
  display: flex;
  height: 36px;
  left: 43px;
  min-width: 303px;
  padding: 0 8px;
  position: absolute;
  top: 804px;
}

.messagerie-2 .placeholder {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 59px;
  white-space: nowrap;
}

.messagerie-2 .ellipse-4 {
  background-color: var(--unmellow-yellow);
  border-radius: 13px;
  height: 26px;
  left: 354px;
  position: absolute;
  top: 809px;
  width: 26px;
}

.messagerie-2 .arrow-1 {
  height: 15px;
  left: 367px;
  position: absolute;
  top: 815px;
  width: 2px;
}

.messagerie-2 .status-bar {
  align-items: center;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  left: 6px;
  min-width: 414px;
  padding: 15.2px 15.8px;
  position: absolute;
  top: 29px;
}

.messagerie-2 .time {
  align-self: flex-end;
  letter-spacing: -0.30px;
  min-height: 18px;
  text-align: center;
  width: 60px;
}

.messagerie-2 .cellular-connection {
  height: 12px;
  margin-left: 241px;
  margin-top: 2.23px;
  width: 19px;
}

.messagerie-2 .wifi {
  height: 12px;
  margin-left: 6px;
  margin-top: 1.85px;
  width: 17px;
}

.messagerie-2 .battery {
  height: 13px;
  margin-left: 6px;
  margin-top: 2.23px;
  width: 27px;
}

.messagerie-2 .overlap-group2 {
  height: 60px;
  margin-top: 1px;
  position: relative;
  width: 414px;
}

.messagerie-2 .frame-3314 {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  left: 0;
  min-width: 414px;
  padding: 0 25px;
  position: absolute;
  top: 0;
}

.messagerie-2 .x5_-elements_-navigation-home-on {
  height: 60px;
  width: 60px;
}

.messagerie-2 .iconly {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  margin-left: 15px;
  min-width: 60px;
  padding: 20.0px 20.0px;
}

.messagerie-2 .subtract {
  height: 19px;
  width: 19px;
}

.messagerie-2 .overlap-group {
  align-items: flex-start;
  background-color: var(--black-3);
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-bottom: -3px;
  margin-left: 15px;
  min-width: 60px;
  padding: 20px;
}

.messagerie-2 .shape {
  height: 19px;
  width: 19px;
}

.messagerie-2 .x5_-elements_-navigation-bell-off {
  height: 60px;
  margin-left: 19px;
  width: 60px;
}

.messagerie-2 .user-filled {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 60px;
  margin-left: 15px;
  min-width: 60px;
  padding: 21.0px 21px;
}

.messagerie-2 .group-18 {
  height: 18px;
  width: 18px;
}

.messagerie-2 .home-indicators {
  background-image: url(../img/home-indicators-41@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 38px;
  width: 375px;
}
