/* screen - sinscrire4 */

.sinscrire4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
  width: 414px;
}

.sinscrire4 .overlap-group {
  height: 896px;
  position: relative;
  width: 417px;
}

.sinscrire4 .background {
  background-color: var(--white);
  height: 896px;
  left: 0;
  position: absolute;
  top: 0;
  width: 414px;
}

.sinscrire4 .etude-et-accompagnement {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 140px;
}

.sinscrire4 .sinscrire {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 102px;
}

.sinscrire4 .status-bar {
  align-items: center;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  left: 3px;
  min-width: 414px;
  padding: 15.2px 15.8px;
  position: absolute;
  top: 0;
}

.sinscrire4 .time {
  align-self: flex-end;
  letter-spacing: -0.30px;
  min-height: 18px;
  text-align: center;
  width: 60px;
}

.sinscrire4 .cellular-connection {
  height: 12px;
  margin-left: 241px;
  margin-top: 2.23px;
  width: 19px;
}

.sinscrire4 .wifi {
  height: 12px;
  margin-left: 6px;
  margin-top: 1.85px;
  width: 17px;
}

.sinscrire4 .battery {
  height: 13px;
  margin-left: 6px;
  margin-top: 2.23px;
  width: 27px;
}

.sinscrire4 .home-indicators {
  background-image: url(../img/home-indicators-41@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 862px;
  width: 375px;
}

.sinscrire4 .je-recherche-un-accompagnateur-dans {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 390px;
}

.sinscrire4 .quelle-est-votre-domaine-dtudes {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 270px;
}

.sinscrire4 .bouton-tudiant {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.12px;
  
  height: 33px;
  justify-content: flex-end;
  left: 23px;
  min-width: 84px;
  padding: 8.3px 12.6px;
  position: absolute;
  top: 290px;
}
.sinscrire4 .text-16 {
  left: 44px;
  letter-spacing: 0;
  position: absolute;
  top: 220px;
  width: 279px;
}

.sinscrire4 .tlphone {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 180px;
}


.sinscrire4 .droit {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 58px;
}

.sinscrire4 .bouton-tudiant-1 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.12px;
  
  height: 33px;
  justify-content: flex-end;
  left: 112px;
  min-width: 148px;
  padding: 8.3px 22.3px;
  position: absolute;
  top: 290px;
}

.sinscrire4 .communication {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 102px;
}

.sinscrire4 .bouton-tudiant-2 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.12px;
  
  height: 33px;
  justify-content: flex-end;
  left: 267px;
  min-width: 115px;
  padding: 8.2px 17.3px;
  position: absolute;
  top: 290px;
}

.sinscrire4 .sciences {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 79px;
}

.sinscrire4 .bouton-tudiant-3 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.12px;
  
  height: 33px;
  justify-content: flex-end;
  left: 23px;
  min-width: 84px;
  padding: 8.3px 12.6px;
  position: absolute;
  top: 328px;
}

.sinscrire4 .dev {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 58px;
}

.sinscrire4 .bouton-tudiant-4 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.12px;
  
  height: 33px;
  justify-content: flex-end;
  left: 112px;
  min-width: 84px;
  padding: 8.3px 12.6px;
  position: absolute;
  top: 328px;
}

.sinscrire4 .place {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 58px;
}

.sinscrire4 .bouton-tudiant-5 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.12px;
  
  height: 33px;
  justify-content: flex-end;
  left: 202px;
  min-width: 58px;
  padding: 8.3px 8.8px;
  position: absolute;
  top: 328px;
}

.sinscrire4 .psycho {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 40px;
}

.sinscrire4 .bouton-tudiant-6 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.12px;
  
  height: 33px;
  justify-content: flex-end;
  left: 267px;
  min-width: 58px;
  padding: 8.3px 8.9px;
  position: absolute;
  top: 328px;
}

.sinscrire4 .uxui {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 40px;
}

.sinscrire4 .bouton-tudiant-7 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.12px;
 
  height: 33px;
  justify-content: flex-end;
  left: 332px;
  min-width: 49px;
  padding: 8.3px 7.4px;
  position: absolute;
  top: 328px;
}

.sinscrire4 .autre {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 34px;
}

.sinscrire4 .bouton-tudiant-8 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.24px;
  
  height: 34px;
  justify-content: flex-end;
  left: 23px;
  min-width: 86px;
  padding: 8.5px 13.0px;
  position: absolute;
  top: 430px;
}

.sinscrire4 .finance {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 59px;
}

.sinscrire4 .bouton-tudiant-9 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.24px;
  
  height: 34px;
  justify-content: flex-end;
  left: 115px;
  min-width: 152px;
  padding: 8.5px 22.9px;
  position: absolute;
  top: 430px;
}

.sinscrire4 .cration-dentreprise {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 105px;
}

.sinscrire4 .bouton-tudiant-10 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.24px;
  
  height: 34px;
  justify-content: flex-end;
  left: 274px;
  min-width: 118px;
  padding: 8.5px 17.8px;
  position: absolute;
  top: 430px;
}

.sinscrire4 .marketing {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 81px;
}

.sinscrire4 .bouton-tudiant-11 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.24px;
  
  height: 34px;
  justify-content: flex-end;
  left: 23px;
  min-width: 86px;
  padding: 8.5px 13.0px;
  position: absolute;
  top: 469px;
}

.sinscrire4 .ux {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 59px;
}

.sinscrire4 .bouton-tudiant-12 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.24px;
  
  height: 34px;
  justify-content: flex-end;
  left: 115px;
  min-width: 86px;
  padding: 8.5px 13.0px;
  position: absolute;
  top: 469px;
}

.sinscrire4 .ui {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 59px;
}

.sinscrire4 .bouton-tudiant-13 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.24px;
  
  height: 34px;
  justify-content: flex-end;
  left: 207px;
  min-width: 60px;
  padding: 8.5px 9.1px;
  position: absolute;
  top: 469px;
}

.sinscrire4 .stage {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 41px;
}

.sinscrire4 .bouton-tudiant-14 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.24px;
 
  height: 34px;
  justify-content: flex-end;
  left: 274px;
  min-width: 60px;
  padding: 8.5px 9.2px;
  position: absolute;
  top: 469px;
}

.sinscrire4 .uxui-1 {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 41px;
}

.sinscrire4 .bouton-tudiant-15 {
  color: var(--oslo-gray);
  font-family: var(--font-family-roboto);
  font-size: 10.8px;
  font-style: normal;
  font-weight: 400;

  align-items: flex-start;
  background-color: var(--desert-storm);
  border-radius: 4.24px;
  
  height: 34px;
  justify-content: flex-end;
  left: 341px;
  min-width: 51px;
  padding: 8.5px 7.6px;
  position: absolute;
  top: 469px;
}

.sinscrire4 .autre-1 {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 35px;
}

.sinscrire4 .vous-tes-dja-inscrit-se-connecter {
  left: 69px;
  letter-spacing: 0;
  position: absolute;
  top: 602px;
}

.sinscrire4 .btn {
  align-items: center;
  background-color: var(--brilliant-rose);
  border-radius: 38px;
  display: flex;
  height: 49px;
  left: 90px;
  min-width: 233px;
  padding: 0 77px;
  position: absolute;
  top: 532px;
}

.sinscrire4 .sinscrire-1 {
  letter-spacing: 0;
  min-height: 21px;
  min-width: 79px;
}

.sinscrire4 .rectangle-2626 {
  background-color: var(--piggy-pink);
  border-radius: 90px;
  height: 11px;
  left: 132px;
  position: absolute;
  top: 62px;
  width: 150px;
}

.sinscrire4 .rectangle-2625 {
  background-color: var(--brilliant-rose);
  border-radius: 90px;
  height: 11px;
  left: 132px;
  position: absolute;
  top: 62px;
  width: 120px;
}

.sinscrire4 .logo {
  height: 22px;
  left: 133px;
  position: absolute;
  top: 830px;
  width: 149px;
}

.sinscrire4 .rectangle-2606 {
  height: 26px;
  left: 28px;
  position: absolute;
  top: 51px;
  width: 26px;
}

input[type=text],[type=password] {
  border: 0px dotted #999;
  border-radius: 0;

  background-color: rgb(248, 248, 248);
  color: var(--oslo-gray-3);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}


.sinscrire4 [class*='bouton-tudiant'].active {
  background-color: var(--brilliant-rose); 
  color: var(--desert-storm);
}