/* screen - sinscrire12 */

.sinscrire12 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
  width: 414px;
}

.sinscrire12 .overlap-group2 {
  height: 896px;
  position: relative;
  width: 417px;
}

.sinscrire12 .background {
  background-color: var(--white);
  height: 896px;
  left: 0;
  position: absolute;
  top: 0;
  width: 414px;
}

.sinscrire12 .une-petite-prsentat {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 140px;
}

.sinscrire12 .qui-tes-vous {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 102px;
}

.sinscrire12 .status-bar {
  align-items: center;
  display: flex;
  height: 49px;
  justify-content: flex-end;
  left: 3px;
  min-width: 414px;
  padding: 15.2px 15.8px;
  position: absolute;
  top: 0;
}

.sinscrire12 .time {
  align-self: flex-end;
  letter-spacing: -0.30px;
  min-height: 18px;
  text-align: center;
  width: 60px;
}

.sinscrire12 .cellular-connection {
  height: 12px;
  margin-left: 241px;
  margin-top: 2.23px;
  width: 19px;
}

.sinscrire12 .wifi {
  height: 12px;
  margin-left: 6px;
  margin-top: 1.85px;
  width: 17px;
}

.sinscrire12 .battery {
  height: 13px;
  margin-left: 6px;
  margin-top: 2.23px;
  width: 27px;
}

.sinscrire12 .home-indicators {
  background-image: url(../img/home-indicators-41@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 862px;
  width: 375px;
}

.sinscrire12 .rectangle-7 {
  background-color: var(--desert-storm);
  border-radius: 5px;
  height: 57px;
  left: 29px;
  position: absolute;
  top: 232px;
  width: 367px;
}

.sinscrire12 .elle-apparatra-sur {
  left: 44px;
  letter-spacing: 0;
  position: absolute;
  top: 242px;
  width: 350px;
}

.sinscrire12 .vous-tes-dja-inscrit-se-connecter {
  left: 69px;
  letter-spacing: 0;
  position: absolute;
  top: 486px;
}

.sinscrire12 .btn {
  align-items: center;
  background-color: var(--brilliant-rose);
  border-radius: 38px;
  display: flex;
  height: 49px;
  left: 90px;
  min-width: 233px;
  padding: 0 77px;
  position: absolute;
  top: 416px;
}

.sinscrire12 .sinscrire {
  letter-spacing: 0;
  min-height: 21px;
  min-width: 79px;
}

.sinscrire12 .rectangle-2625 {
  background-color: var(--piggy-pink);
  border-radius: 90px;
  height: 11px;
  left: 132px;
  position: absolute;
  top: 62px;
  width: 150px;
}

.sinscrire12 .rectangle-2626 {
  background-color: var(--brilliant-rose);
  border-radius: 90px;
  height: 11px;
  left: 132px;
  position: absolute;
  top: 62px;
  width: 140px;
}

.sinscrire12 .logo {
  height: 22px;
  left: 133px;
  position: absolute;
  top: 830px;
  width: 149px;
}

.sinscrire12 .ecrivez-une-mini-bio {
  left: 28px;
  letter-spacing: 0;
  position: absolute;
  top: 201px;
}

.sinscrire12 .rectangle-2606 {
  height: 26px;
  left: 28px;
  position: absolute;
  top: 51px;
  width: 26px;
}

.sinscrire12 .ajouter-une-photo-pour-votre-profil {
  left: 29px;
  letter-spacing: 0;
  position: absolute;
  top: 304px;
}

.sinscrire12 .overlap-group {
  align-items: flex-end;
  background-color: var(--desert-storm);
  border-radius: 5px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  left: 38px;
  min-width: 160px;
  padding: 9px 7px;
  position: absolute;
  top: 348px;
}

.sinscrire12 .x-une-photo {
  letter-spacing: 0;
  min-height: 21px;
  text-align: center;
  width: 145px;
}

.sinscrire12 .overlap-group1 {
  align-items: flex-end;
  background-color: var(--desert-storm);
  border-radius: 5px;
  display: flex;
  height: 40px;
  left: 216px;
  min-width: 160px;
  padding: 9px 7px;
  position: absolute;
  top: 348px;
}
